<body class="dashboard-page sb-l-o sb-r-c">

    <!-- Start: Main -->
    <div id="main">

        <% include header.ejs %>
        <% include sidebar.ejs %>

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">

         

            <!-- Start: Topbar -->
            <header id="topbar">
                <div class="topbar-left">
                    <ol class="breadcrumb">
                        <li class="crumb-active">
                            <a href="dashboard">Dashboard</a>
                        </li>
                        <li class="crumb-icon">
                            <a href="dashboard">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li class="crumb-link">
                            <a href="dashboard">Accueil</a>
                        </li>
                        <li class="crumb-trail">Dashboard</li>
                    </ol>
                </div>
              
            </header>
            <!-- End: Topbar -->

            <!-- Begin: Content -->
            <section id="content" class="animated fadeIn">
                <!-- Dashboard Tiles -->
                <div class="row" style="max-width: 1250px; margin: 0 auto;">
                     <div class="col-sm-3 col-md-2">
                        <a href="#modal-panel"><div class="panel panel-tile text-center">
                            <div class="panel-heading hidden">
                                <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                            </div>
                            <div class="panel-body bg-primary light">
                                <i class="fa fa-twitter text-muted fs70 mt10"></i>
                                <h1 class="fs35 mbn">18,020</h1>
                                <h6 class="text-white">NB CONVERSIONS</h6>
                            </div>
                            <div class="panel-footer bg-primary br-n p12">
                                <span class="fs11"><i class="fa fa-arrow-up pr5"></i><b> 3% UNIQUES 1D AGO</b>
                                </span>
                            </div>
                        </div></a>
                    </div>                 
                    <div class="col-sm-3 col-md-2">
                        <div class="panel panel-tile text-center">
                            <div class="panel-heading hidden">
                                <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                            </div>
                            <div class="panel-body bg-primary light">
                                <i class="fa fa-twitter text-muted fs70 mt10"></i>
                                <h1 class="fs35 mbn">18,020</h1>
                                <h6 class="text-white">NB CONVERSIONS</h6>
                            </div>
                            <div class="panel-footer bg-primary br-n p12">
                                <span class="fs11"><i class="fa fa-arrow-up pr5"></i><b> 3% UNIQUES 1D AGO</b>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="panel panel-tile text-center">
                            <div class="panel-heading hidden">
                                <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                            </div>
                            <div class="panel-body bg-alert light">
                                <i class="fa fa-twitter text-muted fs70 mt10"></i>
                                <h1 class="fs35 mbn">18,020</h1>
                                <h6 class="text-white">NB CONVERSIONS</h6>
                            </div>
                            <div class="panel-footer bg-alert br-n p12">
                                <span class="fs11"><i class="fa fa-arrow-up pr5"></i><b> 3% UNIQUES 1D AGO</b>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="panel panel-tile text-center">
                            <div class="panel-heading hidden">
                                <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                            </div>
                            <div class="panel-body bg-info light">
                                <i class="fa fa-twitter text-muted fs70 mt10"></i>
                                <h1 class="fs35 mbn">18,020</h1>
                                <h6 class="text-white">NB CONVERSIONS</h6>
                            </div>
                            <div class="panel-footer bg-info br-n p12">
                                <span class="fs11"><i class="fa fa-arrow-up pr5"></i><b> 3% UNIQUES 1D AGO</b>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="panel panel-tile text-center">
                            <div class="panel-heading hidden">
                                <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                            </div>
                            <div class="panel-body bg-danger light">
                                <i class="fa fa-twitter text-muted fs70 mt10"></i>
                                <h1 class="fs35 mbn">18,020</h1>
                                <h6 class="text-white">NB CONVERSIONS</h6>
                            </div>
                            <div class="panel-footer bg-danger br-n p12">
                                <span class="fs11"><i class="fa fa-arrow-up pr5"></i><b> 3% UNIQUES 1D AGO</b>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="panel panel-tile text-center">
                            <div class="panel-heading hidden">
                                <span class="panel-title"><i class="fa fa-pencil"></i> Title</span>
                            </div>
                            <div class="panel-body bg-warning light">
                                <i class="fa fa-twitter text-muted fs70 mt10"></i>
                                <h1 class="fs35 mbn">18,020</h1>
                                <h6 class="text-white">NB CONVERSIONS</h6>
                            </div>
                            <div class="panel-footer bg-warning br-n p12">
                                <span class="fs11"><i class="fa fa-arrow-up pr5"></i><b> 3% UNIQUES 1D AGO</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
<button class="btn btn-primary btn-alt btn-block" data-effect="mfp-zoomOut">Zoom Out</button>
            <section id="content" class="animated fadeIn">

                        <div class="row table-layout" id="modal-content">

                <div id="modal-panel" class="popup-basic bg-none mfp-with-anim mfp-hide">

                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-icon"><i class="fa fa-pencil"></i>
                            </span>
                            <span class="panel-title"> A Super Awesome Panel</span>
                        </div>
                        <div class="panel-body">
                            <h3 class="mt5"> I'm a panel title, Hear me Roar.</h3>
                            <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature. </p>
                            <hr class="short alt">
                            <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes </p>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-primary" type="button">Primary Btn</button>
                        </div>
                    </div>
                </div>
                </div>


        </section>
        </section>
        <!-- End: Content Wrapper -->


    </div>
    <!-- End: Main -->

    <!-- BEGIN: PAGE SCRIPTS -->

    <!-- jQuery -->
    <script type="text/javascript" src="vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="vendor/plugins/magnific/jquery.magnific-popup.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="assets/js/bootstrap/bootstrap.min.js"></script>

    <!-- Theme Javascript -->
    <script type="text/javascript" src="assets/js/utility/utility.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="assets/js/demo.js"></script>


        <script type="text/javascript" src="vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="assets/js/bootstrap/bootstrap.min.js"></script>

    <!-- Page Plugins -->
    <script type="text/javascript" src="vendor/plugins/magnific/jquery.magnific-popup.js"></script>

    <!-- Admin Forms Javascript -->
    <script type="text/javascript" src="assets/admin-tools/admin-forms/js/jquery-ui-monthpicker.min.js"></script>
    <script type="text/javascript" src="assets/admin-tools/admin-forms/js/jquery-ui-timepicker.min.js"></script>
    <script type="text/javascript" src="assets/admin-tools/admin-forms/js/jquery-ui-touch-punch.min.js"></script>
    <script type="text/javascript" src="assets/admin-tools/admin-forms/js/jquery.spectrum.min.js"></script>
    <script type="text/javascript" src="assets/admin-tools/admin-forms/js/jquery.stepper.min.js"></script>

    <!-- Theme Javascript -->
    <script type="text/javascript" src="assets/js/utility/utility.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="assets/js/demo.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {

            "use strict";

            // Init Theme Core     
            Core.init();

            // Init Demo JS     
            Demo.init();

            // Form Skin Switcher
            $('a').on('click', function() {
                // Inline Admin-Form example 
                $.magnificPopup.open({
                    removalDelay: 500, //delay removal by X to allow out-animation,
                    items: {
                        src: "#modal-panel"
                    },
                    // overflowY: 'hidden', // 
                    callbacks: {
                        beforeOpen: function(e) {
                            var Animation = "mfp-zoomOut"
                            this.st.mainClass = Animation;
                        }
                    },
                    midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
                });

            });

        });
    </script>
    <!-- END: PAGE SCRIPTS -->