<!DOCTYPE html>
<html>
  <head>
    <title>FastOrdering</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <!-- <link rel="stylesheet" href="/styles/importer.css"> -->

    <!-- STYLE TEMP -->

    <!-- Bootstrap Core CSS -->
    <link href="/linker/styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/linker/styles/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/linker/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- STYLE  TEMP END -->
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap/affix.js"></script>
    <script src="/js/bootstrap/alert.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/bootstrap/button.js"></script>
    <script src="/js/bootstrap/carousel.js"></script>
    <script src="/js/bootstrap/collapse.js"></script>
    <script src="/js/bootstrap/dropdown.js"></script>
    <script src="/js/bootstrap/holder.min.js"></script>
    <script src="/js/bootstrap/modal.js"></script>
    <script src="/js/bootstrap/popover.js"></script>
    <script src="/js/bootstrap/scrollspy.js"></script>
    <script src="/js/bootstrap/tab.js"></script>
    <script src="/js/bootstrap/tooltip.js"></script>
    <script src="/js/bootstrap/transition.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/demo.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/pages/charts/d3.js"></script>
    <script src="/js/pages/charts/flot.js"></script>
    <script src="/js/pages/charts/highcharts.js"></script>
    <script src="/js/pages/login/EasePack.min.js"></script>
    <script src="/js/pages/login/TweenLite.min.js"></script>
    <script src="/js/pages/login/login.js"></script>
    <script src="/js/pages/login/rAF.js"></script>
    <script src="/js/pages/widgets.js"></script>
    <script src="/js/utility/bootbox/bootbox.js"></script>
    <script src="/js/utility/fittext/jquery.fittext.js"></script>
    <script src="/js/utility/fullscreen/jquery.fullscreen.js"></script>
    <script src="/js/utility/highlight/highlight.pack.js"></script>
    <script src="/js/utility/hoverintent/jquery.hoverIntent.minified.js"></script>
    <script src="/js/utility/jquery.expose/jquery.expose.js"></script>
    <script src="/js/utility/jquery.spin/spin.min.js"></script>
    <script src="/js/utility/jvectormap/assets/jquery-1.8.2.js"></script>
    <script src="/js/utility/jvectormap/assets/jquery-jvectormap-map.js"></script>
    <script src="/js/utility/jvectormap/assets/jquery-jvectormap-us-aea-en.js"></script>
    <script src="/js/utility/jvectormap/assets/jquery-jvectormap-us-lcc-en.js"></script>
    <script src="/js/utility/jvectormap/assets/jquery-jvectormap-us-merc-en.js"></script>
    <script src="/js/utility/jvectormap/assets/jquery-jvectormap-us-mill-en.js"></script>
    <script src="/js/utility/jvectormap/assets/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/js/utility/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/js/utility/jvectormap/jquery-mousewheel.js"></script>
    <script src="/js/utility/jvectormap/lib/abstract-canvas-element.js"></script>
    <script src="/js/utility/jvectormap/lib/abstract-element.js"></script>
    <script src="/js/utility/jvectormap/lib/abstract-shape-element.js"></script>
    <script src="/js/utility/jvectormap/lib/color-scale.js"></script>
    <script src="/js/utility/jvectormap/lib/data-series.js"></script>
    <script src="/js/utility/jvectormap/lib/jvectormap.js"></script>
    <script src="/js/utility/jvectormap/lib/numeric-scale.js"></script>
    <script src="/js/utility/jvectormap/lib/ordinal-scale.js"></script>
    <script src="/js/utility/jvectormap/lib/proj.js"></script>
    <script src="/js/utility/jvectormap/lib/simple-scale.js"></script>
    <script src="/js/utility/jvectormap/lib/svg-canvas-element.js"></script>
    <script src="/js/utility/jvectormap/lib/svg-circle-element.js"></script>
    <script src="/js/utility/jvectormap/lib/svg-element.js"></script>
    <script src="/js/utility/jvectormap/lib/svg-group-element.js"></script>
    <script src="/js/utility/jvectormap/lib/svg-path-element.js"></script>
    <script src="/js/utility/jvectormap/lib/svg-shape-element.js"></script>
    <script src="/js/utility/jvectormap/lib/vector-canvas.js"></script>
    <script src="/js/utility/jvectormap/lib/vml-canvas-element.js"></script>
    <script src="/js/utility/jvectormap/lib/vml-circle-element.js"></script>
    <script src="/js/utility/jvectormap/lib/vml-element.js"></script>
    <script src="/js/utility/jvectormap/lib/vml-group-element.js"></script>
    <script src="/js/utility/jvectormap/lib/vml-path-element.js"></script>
    <script src="/js/utility/jvectormap/lib/vml-shape-element.js"></script>
    <script src="/js/utility/jvectormap/lib/world-map.js"></script>
    <script src="/js/utility/multiselect/bootstrap-multiselect.js"></script>
    <script src="/js/utility/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="/js/utility/pnofify/pnotify.custom.js"></script>
    <script src="/js/utility/smoothscroll/jquery.smooth-scroll.min.js"></script>
    <script src="/js/utility/underscore/underscore-min.js"></script>
    <script src="/js/utility/underscore/underscore.js"></script>
    <script src="/js/utility/utility.js"></script>
    <script src="/js/utility/waypoints/jquery.waypoints.min.js"></script>
    <!--SCRIPTS END-->
    <script>
io.socket.request('send_order', {}, function (users) {
  console.log(users); // list of users on the sever
});
//io.socket.emi('send_order', function(so){
//console.log(so);
//});

    </script>

  </body>
</html>
