    <!-- Start: Sidebar -->
    <aside id="sidebar_left" class="nano nano-primary">
        <div class="nano-content">

            <!-- sidebar menu -->
            <ul class="nav sidebar-menu">
                <li class="sidebar-label pt20">Menu</li>
                <li>
                   <a href="/dish/create"><span class="glyphicons glyphicons-sampler"></span> <span class="sidebar-title">Gérer les plats </span></a>
                   <a href="/option/create"><span class="glyphicons glyphicons-sampler"></span> <span class="sidebar-title">Gérer les options </span></a>
                   <a href="/dishcategory/create"><span class="glyphicons glyphicons-sampler"></span> <span class="sidebar-title">Gérer les cat de plat</span></a>
                   <a href="/optioncategory/create"><span class="glyphicons glyphicons-sampler"></span> <span class="sidebar-title">Gérer les cat d'option </span></a>
                   <a href="/menu/create"><span class="glyphicons glyphicons-sampler"></span><span class="sidebar-title">Gérer les menus</span></a>
                </li>
                <li class="sidebar-label pt15">Booking</li>
                <li>
                        <li>
                            <a href="/booking">
                                <span class="glyphicons glyphicons-show_big_thumbnails"></span> 
                                <span class="sidebar-title">Gérer les réservations </span></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicons glyphicons-sampler"></span> <span class="sidebar-title">Historique </span></a>
                            </li>
                        </li>

                        <li class="sidebar-label pt20">Cuisine</li>
                        <li>
                            <li>
                                <a href="/kitchen">
                                    <span class="glyphicons glyphicons-coins"></span> <span class="sidebar-title">Commandes en cours </span></a>
                                </li>
                            </li>
                <!-- sidebar resources -->
                <li class="sidebar-label pt20">Plan de table</li>
                        <li>
                            <a href="#">
                                <span class="glyphicons glyphicons-hdd"></span> <span class="sidebar-title">Gérer le plan de table</span></a>
                        </li>
                <% if (session.user && (session.user.role == 4 || session.user.role == 8)) { %>
                <li class="sidebar-label pt20">Options</li>
                        <li>
                            <a href="/user">
                                <span class="glyphicons glyphicons-hdd"></span> <span class="sidebar-title">Gérer les utilisateurs</span></a>
                        </li>
                <% } %>

                                <!-- sidebar progress bars -->
                                <li class="sidebar-label pt25 pb10">Statistiques</li>
                                <li class="sidebar-stat mb10">
                                    <a href="#projectOne" class="fs11">
                                        <span class="fa fa-inbox text-info"></span>
                                        <span class="sidebar-title text-muted">Taux de remplissage</span>
                                        <span class="pull-right mr20 text-muted">50%</span>
                                        <div class="progress progress-bar-xs ml20 mr20">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="sidebar-stat mb10">
                                    <a href="#projectOne" class="fs11">
                                        <span class="fa fa-dropbox text-warning"></span>
                                        <span class="sidebar-title text-muted">Nombre de couverts</span>
                                        <span class="pull-right mr20 text-muted">15/30</span>
                                        <div class="progress progress-bar-xs ml20 mr20">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 58%">
                                                <span class="sr-only">30% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="sidebar-toggle-mini">
                                <a href="#">
                                    <span class="fa fa-sign-out"></span>
                                </a>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="sidebar-toggle-mini">
                <a href="/logout">
                    <span class="fa fa-sign-out"></span>
                </a>
            </div>
    </aside>
