<body class="dashboard-page sb-l-o sb-r-c">

    <!-- Start: Main -->
    <div id="main">

        <% include ../header.ejs %>
        <% include ../sidebar.ejs %>

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
            <!-- Start: Topbar -->
            <% include ../ariane.ejs %>
            <!-- End: Topbar -->
            <!-- Begin: Content -->
            <section id="content" class="animated fadeIn">
                <!-- Dashboard Tiles -->
                <div class="row">
                    <div class="col-md-12">
                        <% include ../alert.ejs %>
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">Ajouter une catégorie</span>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" action="/dishcategory/create" method="POST">
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label">Nom réel</label>
                                        <div class="col-lg-8">
                                            <input type="text" name="real_name" class="form-control">
                                        </div>
                                    </div>  
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label">Nom in App</label>
                                        <div class="col-lg-8">
                                            <input type="text" name="name" class="form-control">
                                        </div>
                                    </div>                                   
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label"></label>
                                        <div class="col-lg-8">
                                            <input type="submit" value="Ajouter" class="form-control btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-visible" id="spy6">
                            <div class="panel-heading">
                                <div class="panel-title hidden-xs">Liste des Catégories de plats</div>
                            </div>
                            <div class="panel-body pn">
                                <table class="table display" id="datatable7" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nom réel</th>
                                            <th>Nom in App</th>
                                            <th>Modifier</th>
                                            <th>Supprimer</th>
                                        </tr>
                                    </thead> 
                                    <tbody>
                                        <% _.each(categories, function(category) { %>
                                        <tr>
                                            <th><%= category.real_name %></th>
                                            <th><%= category.name %></th>
                                            <th><a href="/dishcategory/update?id=<%= category.id %>"><i class="glyphicons glyphicons-pencil"></a></i></th>
                                            <th><a href="/dishcategory/delete?id=<%= category.id %>"><i class="glyphicons glyphicons-bin"></i></a></th>
                                        </tr>
                                        <% }) %>
                                    </tbody>   
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>