<body class="dashboard-page sb-l-o sb-r-c">

    <!-- Start: Main -->
    <div id="main">

        <% include ../header.ejs %>
        <% include ../sidebar.ejs %>

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
            <!-- Start: Topbar -->
            <header id="topbar">
                <div class="topbar-left">
                    <ol class="breadcrumb">
                        <li class="crumb-active">
                            <a href="dashboard">Cuisine</a>
                        </li>
                        <li class="crumb-icon">
                            <a href="dashboard">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li class="crumb-link">
                            <a href="dashboard">Accueil</a>
                        </li>
                        <li class="crumb-trail">Cuisine</li>
                    </ol>
                </div>

            </header>
            <!-- End: Topbar -->
            <!-- Begin: Content -->
            <section id="content" class="animated fadeIn">
                <!-- Dashboard Tiles -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">Ajouter un menu</span>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" action="/menu/create" method="POST">
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label">Nom du menu</label>
                                        <div class="col-lg-8">
                                            <input type="text" name="menu_name" value="" class="form-control">
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label">Prix</label>
                                        <div class="col-lg-8">
                                            <input type="number" name="price" value="" class="form-control">
                                        </div>
                                    </div>                                                                 
                                <!--     <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label">Menu composition</label>
                                        <div style="width:200px" class="col-lg-8">
                                            <select style="width:100%"  id="composition" name="compositions_ids" multiple="multiple">
                                            </select>
                                        </div>
                                    </div> -->
                               <!--      <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label">Nom</label>
                                        <div class="col-lg-8">
                                            <input type="text" name="name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label">Prix</label>
                                        <div class="col-lg-8">
                                            <input type="number" name="price" class="form-control">
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label">Categories</label>
                                        <div class="col-lg-8">
                                            <select style="width:100%" id="categories" name="categories_ids" multiple="multiple">
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label"></label>
                                        <div class="col-lg-8">
                                            <input type="submit" value="Ajouter" class="btn-primary form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-visible" id="spy6">
                            <div class="panel-heading">
                                <div class="panel-title hidden-xs">
                                    <span class="glyphicon glyphicon-tasks"></span>Liste des menus</div>
                                </div>
                                <div class="panel-body pn">
                                    <table class="table display" id="datatable7" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Prix</th>
                                                <th>Modifier</th>
                                                <th>Supprimer</th>
                                            </tr>
                                        </thead> 
                                        <tbody>
                                            <% _.each(menus, function(menu) { %>
                                            <tr>
                                                <th><%= menu.name %></th>
                                                <th><%= menu.price %></th>
                                                <th><a href="/menu/update?id=<%= menu.id %>"><i class="glyphicons glyphicons-pencil"></a></i></th>
                                                <th><a href="/menu/delete?id=<%= menu.id %>"><i class="glyphicons glyphicons-bin"></i></a></th>
                                            </tr>
                                            <% }) %>
                                        </tbody>   
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </section>
        </div>
        <!-- jQuery -->
        <script type="text/javascript" src="/vendor/jquery/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/vendor/plugins/magnific/jquery.magnific-popup.js"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" src="/assets/js/bootstrap/bootstrap.min.js"></script>

        <!-- Theme Javascript -->
        <script type="text/javascript" src="/assets/js/utility/utility.js"></script>
        <script type="text/javascript" src="/assets/js/main.js"></script>
        <script type="text/javascript" src="/assets/js/demo.js"></script>


        <script type="text/javascript" src="/vendor/jquery/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" src="/assets/js/bootstrap/bootstrap.min.js"></script>

        <!-- Page Plugins -->
        <script type="text/javascript" src="/vendor/plugins/magnific/jquery.magnific-popup.js"></script>

        <!-- Admin Forms Javascript -->
        <script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery-ui-monthpicker.min.js"></script>
        <script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery-ui-timepicker.min.js"></script>
        <script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery-ui-touch-punch.min.js"></script>
        <script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery.spectrum.min.js"></script>
        <script type="text/javascript" src="/assets/admin-tools/admin-forms/js/jquery.stepper.min.js"></script>

        <!-- Theme Javascript -->
        <script type="text/javascript" src="/assets/js/utility/utility.js"></script>
        <script type="text/javascript" src="/assets/js/main.js"></script>
        <script type="text/javascript" src="/assets/js/demo.js"></script>
        <script type="text/javascript">
        jQuery(document).ready(function() {
            $.urlParam = function(name){
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                if (results==null){
                   return null;
                }
                else{
                   return results[1] || 0;
                }
            }
            "use strict";

            // Init Theme Core     
            Core.init();

            // Init Demo JS

            Demo.init();
            var id = $.urlParam('id');
            if (id) {
                io.socket.get('/menucomposition/read?id=' + id, function (body, response) {
                    var res = "";
                    body = body.elements;
                    for (var i = body.length - 1; i >= 0; i--) {
                        res += '<option value="' + body[i].id +'">' + body[i].name +'</option>';
                    };
                    $("#composition").html(res);
                });
            }
            io.socket.get('/dishcategory/read', function (body, response) {
                var res = "";
                body = body.elements;
                for (var i = body.length - 1; i >= 0; i--) {
                    res += '<option value="' + body[i].id +'">' + body[i].name +'</option>';
                };
                $("#categories").html(res);
            });
        });
        </script>
