<body class="dashboard-page sb-l-o sb-r-c">

    <!-- Start: Main -->
    <div id="main">

        <% include ../header.ejs %>
        <% include ../sidebar.ejs %>

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">

           

            <!-- Start: Topbar -->
            <header id="topbar">
                <div class="topbar-left">
                    <ol class="breadcrumb">
                        <li class="crumb-active">
                            <a href="/booking">Reservation</a>
                        </li>
                        <li class="crumb-icon">
                            <a href="/dashboard">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li class="crumb-link">
                            <a href="/dashboard">Accueil</a>
                        </li>
                        <li class="crumb-trail">Reservation</li>
                    </ol>
                </div>
                
            </header>
            <!-- End: Topbar -->

            <!-- Begin: Content -->
            <section id="content" class="animated fadeIn">
                <!-- Dashboard Tiles -->

                <section id="content" class="animated fadeIn">

                    <div class="row table-layout" id="modal-content">
                        <% if (flash && flash.err) { %>
                        <ul class="alert alert-success">
                            <% Object.keys(flash.err).forEach(function(error) { %>
                            <li><%- JSON.stringify(flash.err[error]) %> </li>
                            <% }) %>
                        </ul>
                        <% } %>

                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <span class="panel-title">Créer une nouvelle réservation :</span>
                                </div>

                                <div class="panel-body">
                                    <form action="/booking/create" method="POST" class="form-signin">
                                        <div class="form-group">
                                            <label>Nom :</label>
                                            <input class="form-control" placeholder="Nom" name="name">
                                            <label>Nombre de personnes:</label>
                                            <input class="form-control" placeholder="Nombre de personnes" name="nb_persons">
                                            <label>Date :</label>
                                            <input type="date" class="form-control" placeholder="Date" name="date">
                                            <label>Heure :</label>
                                            <input type="time" class="form-control" placeholder="Heure" name="time"> 
                                            <input type="hidden" name="restaurant_id" value="1">
                                        </div>
                                        <input type="submit" class="btn btn-primary" value="Créer"</input>
                                        <input type="hidden" name="_csrf" value="<%=_csrf %>" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </section>
            </section>
            <!-- End: Content Wrapper -->
        </div>
        <!-- End: Main -->

        <!-- BEGIN: PAGE SCRIPTS -->

        <!-- jQuery -->
        <script type="text/javascript" src="../vendor/jquery/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../vendor/plugins/magnific/jquery.magnific-popup.js"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" src="../assets/js/bootstrap/bootstrap.min.js"></script>

        <!-- Theme Javascript -->
        <script type="text/javascript" src="../assets/js/utility/utility.js"></script>
        <script type="text/javascript" src="../assets/js/main.js"></script>
        <script type="text/javascript" src="../assets/js/demo.js"></script>


        <script type="text/javascript" src="../vendor/jquery/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" src="../assets/js/bootstrap/bootstrap.min.js"></script>

        <!-- Page Plugins -->
        <script type="text/javascript" src="../vendor/plugins/magnific/jquery.magnific-popup.js"></script>

        <!-- Admin Forms Javascript -->
        <script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery-ui-monthpicker.min.js"></script>
        <script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery-ui-timepicker.min.js"></script>
        <script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery-ui-touch-punch.min.js"></script>
        <script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery.spectrum.min.js"></script>
        <script type="text/javascript" src="../assets/admin-tools/admin-forms/js/jquery.stepper.min.js"></script>

        <!-- Theme Javascript -->
        <script type="text/javascript" src="../assets/js/utility/utility.js"></script>
        <script type="text/javascript" src="../assets/js/main.js"></script>
        <script type="text/javascript" src="../assets/js/demo.js"></script>