<body class="dashboard-page sb-l-o sb-r-c">

    <!-- Start: Main -->
    <div id="main">

        <% include ../header.ejs %>
        <% include ../sidebar.ejs %>

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
            <!-- Start: Topbar -->
            <% include ../ariane.ejs %>
            <!-- End: Topbar -->
            <!-- Begin: Content -->
            <section id="content" class="animated fadeIn">
                <!-- Dashboard Tiles -->
                <div class="row">
                    <div class="col-md-12">
                        <% include ../alert.ejs %>
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">Ajouter une option</span>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" action="/optioncategory/create" method="POST">
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label">Nom</label>
                                        <div class="col-lg-8">
                                            <input value="" type="text" name="name" class="form-control">
                                        </div>
                                    </div>                                   
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label"></label>
                                        <div class="col-lg-8">
                                            <input type="submit" value="Ajouter" class="form-control btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                            <div class="panel panel-visible" id="spy6">
                                <div class="panel-heading">
                                    <div class="panel-title hidden-xs">
                                        <span class="glyphicon glyphicon-tasks"></span>Liste des catégories d'options</div>
                                </div>
                                <div class="panel-body pn">
                                    <table class="table display" id="datatable7" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Modifier</th>
                                                <th>Supprimer</th>
                                            </tr>
                                        </thead> 
                                        <tbody>
                                            <% _.each(optioncategories, function(optioncategory) { %>
                                                <tr>
                                                    <th><%= optioncategory.name %></th>
                                                    <th><a href="/optioncategory/update?id=<%= optioncategory.id %>"><i class="glyphicons glyphicons-pencil"></a></i></th>
                                                    <th><a href="/optioncategory/delete?id=<%= optioncategory.id %>"><i class="glyphicons glyphicons-bin"></i></a></th>
                                                </tr>
                                            <% }) %>
                                        </tbody>   
                                    </table>
                                </div>
                            </div>
                    </div>
                </div>
            </section>
        </section>
    </div>