<body class="dashboard-page sb-l-o sb-r-c">

    <!-- Start: Main -->
    <div id="main">

        <% include ../header.ejs %>
        <% include ../sidebar.ejs %>

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">

            <!-- Start: Topbar -->
            <% include ../ariane.ejs %>
            <!-- End: Topbar -->
            <!-- Begin: Content -->
            <section id="content" class="animated fadeIn">
                <!-- Dashboard Tiles -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">Modifier une catégorie d'option</span>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" action="/optioncategory/update" method="POST">
                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label">Nom</label>
                                        <div class="col-lg-8">
                                            <input value="<%= optioncategory.name %>" type="text" name="name" class="form-control">
                                        </div>
                                    </div>                                   
                                    <input value="<%= optioncategory.id %>"  type="hidden" name="id">

                                    <div class="form-group">
                                        <label for="inputStandard" class="col-lg-3 control-label"></label>
                                        <div class="col-lg-8">
                                            <input type="submit" value="Mettre a jour" class="form-control btn-primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>